In [1]:
import pandas as pd
import os
os.getcwd()
alligator= pd.read_csv("C:\\Users\\Jim/Downloads/fatal_alligator_attacks_US.csv", index_col=0)

In [2]:
print(alligator)

                                                 Name   Age     Sex  \
Date
August 15, 2022                          Nancy Becker    88  female
July 15, 2022                      Rose Marie Wiegand   80s  female
June 24, 2022                        Micheal Burstein    75    male
May 31, 2022                          Sean McGuinness    47    male
August 30, 2021                     Timothy Satterlee    71    male
May 1, 2020                            Cynthia Covert    58  female
August 20, 2018                       Cassandra Cline    45  female
June 8, 2018                          Shizuka Matsuki    47  female
July 29, 2016                           Bonnie Walker    90  female
June 14, 2016                             Lane Graves     2    male
on or about June 5, 2016       Richard Zachary Taylor    72    male
on or about November 13, 2015         Matthew Riggins    22    male
October 19, 2015                        James Okkerse    62    male
July 4, 2015                          Tommie Woodward    28    male
November 13, 2007                        Justo Padron    36    male
October 5, 2007                         Gwen Williams    83  female
May 14, 2006                       Annemarie Campbell    23  female
May 14, 2006                           Judy W. Cooper    43  female
May 10, 2006                      Yovy Suarez Jiménez    28  female
July 15, 2005                     Kevin Albert Murray    41    male
March 15, 2005                               Don Owen    56    male
September 26, 2004                    Michelle Reeves    20  female
June 21, 2004                            Janie Melsek    54  female
June 18, 2003                           Brian Griffin    12    male
September 11, 2001                      Robert Steele    81    male
June 23, 2001                       Alexandria Murphy     2  female
May 4, 2001                            Samuel Wetmore    70    male
March 21, 1997                           Adam Binford     3    male
October 3, 1993                        Grace Eberhart    70  female
June 19, 1993                     Bradley Weidenhamer    10    male
June 4, 1988                              Erin Glover     4  female
July 13, 1987                     George Cummings III    29    male
May 4, 1985                             Paul Mirabito    27    male
August 6, 1984                          Robert Crespo    11    male
September 10, 1978                  Phillip Rastrelli    14    male
September 28, 1977                     George Leonard    52    male
August 16, 1973                         Sharon Holmes    16  female
June, 1957                                 Allen Rice     9    male
April or June, 1836                      Gray B. King     ?    male
10 August, 1734                       Jacques du Bois     ?    male
1685                                         Dumesnil     ?    male

                                                                         Details
Date
August 15, 2022                The victim fell into a pond in a gated communi...
July 15, 2022                  The victim fell into a pond along a golf cours...
June 24, 2022                  The victim was dragged into a pond in Myrtle B...
May 31, 2022                   The victim was attacked while trying to retrie...
August 30, 2021                The victim was attacked in floodwaters of Hurr...
May 1, 2020                    The victim was pulled under and drowned by an ...
August 20, 2018                Dragged to her death while walking her dog nea...
June 8, 2018                   Dragged to her death and dismembered while wal...
July 29, 2016                  Walker's body was found in a retention pond ne...
June 14, 2016                  An alligator, 4 to 7 feet long, dragged the vi...
on or about June 5, 2016       Police recovered Taylor's body after a report ...
on or about November 13, 2015  A police dive team found the victim's body in ...
October 19, 2015               Okkerse was killed while swimming/snorkeling b...
July 4, 2015                   After an 11-foot alligator appeared at Burkart...
November 13, 2007              A man fleeing police by jumping into a retenti...
October 5, 2007                A Canadian woman who had been house sitting fo...
May 14, 2006                   Her body was pulled out of an alligator's mout...
May 14, 2006                   Her body was found in a canal near Oldsmar in ...
May 10, 2006                   Her dismembered body was found floating in a c...
July 15, 2005                  He was killed while swimming in the Apollo wat...
March 15, 2005                 Fishermen discovered Owen's body about 12 mile...
September 26, 2004             She was killed by a 7' 11" (2.4 m) alligator w...
June 21, 2004                  She was attacked by a 12' 3" (3.7 m) alligator...
June 18, 2003                  He was killed by a 10' 4" (3.1 m) alligator wh...
September 11, 2001             He was attacked by an alligator while walking ...
June 23, 2001                  She wandered away from her fenced back yard an...
May 4, 2001                    He was killed in a pond near his residence in ...
March 21, 1997                 He was killed by an 11-foot (3.4 m) alligator ...
October 3, 1993                She was killed by one or more alligators at La...
June 19, 1993                  He was killed while wading in the Loxahatchee ...
June 4, 1988                   She was killed while walking along the shore o...
July 13, 1987                  He was killed while snorkeling in the Wakulla ...
May 4, 1985                    He was killed while diving and harassing small...
August 6, 1984                 He was killed by a 12' 4" (3.8 m) alligator wh...
September 10, 1978             He was killed while swimming across the Hidden...
September 28, 1977             He was killed while swimming in the Peace Rive...
August 16, 1973                She was killed while swimming at the Oscar Sch...
June, 1957                     He had been missing several days from his Eau ...
April or June, 1836            A settler from Nashville traveling with his fa...
10 August, 1734                The blacksmith at Fort St. Jean Baptiste, near...
1685                           A servant of René-Robert Cavelier, Sieur de La...

In [3]:
alligator.head()

,Name,Age,Sex,Details
Date,,,,
"August 15, 2022",Nancy Becker,88,female,The victim fell into a pond in a gated communi...
"July 15, 2022",Rose Marie Wiegand,80s,female,The victim fell into a pond along a golf cours...
"June 24, 2022",Micheal Burstein,75,male,The victim was dragged into a pond in Myrtle B...
"May 31, 2022",Sean McGuinness,47,male,The victim was attacked while trying to retrie...
"August 30, 2021",Timothy Satterlee,71,male,The victim was attacked in floodwaters of Hurr...